@charset "utf-8";
body {
    margin: 0;
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    color: $text-color;
}

p {
    text-align: justify;
    word-break: break-word;
    margin-top: 0.5em; 
    margin-bottom: 0.5em;
}

footer p {
    font-size:  $small-font-size;
    color:  $color-gray;
    text-align: center;
    word-break: break-word;
    margin-top: 0.5em; 
    margin-bottom: 0.5em;
}

a {
    color: $link-color;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

h1 {
    font-weight: 500;
    word-break: break-word;
}

h2 {
    font-weight: 500;
    word-break: break-word;
    margin-top: 0.2em;
}

h3 {
    font-weight: 500;
    word-break: break-word;
    margin-bottom: 0.2em;
}

h4 {
    letter-spacing:normal;
    font-weight: 400;
    word-break: break-word;
}

h5 {
    letter-spacing:normal;
    font-weight: 400;
    word-break: break-word;
}

h6 {
    letter-spacing:normal;
    font-weight: 400;
    word-break: break-word;
}

blockquote {
    font-style: italic;
    padding-left: 1rem;
    border-left: 3px solid $border-color;
}

img {
    vertical-align:middle;
    max-width: 100%;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    max-width: 100%;
    width: 100%;
}

th,
td {
    padding: 0.5rem;
    line-height: inherit;
}

th {
    text-align: left;
    vertical-align: bottom;
    border-bottom: 2px solid $border-color;
}

td {
    vertical-align: top;
    border-bottom: 1px solid $border-color;
}

pre {
    padding: 1.25rem;
    overflow-x: auto;
}

code {
    font-family: 'Courier New',Consolas,monopace;
    tab-size: 4;
}

hr {
    border: none;
    border-top: 1px solid $border-color;
}

/* Share buttons */

.sharebuttons {
    margin: 0 auto 0 auto;
    padding: 0;
}

.sharebuttons ul {
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 1.4em;
}

.sharebuttons ul li {
    display: inline;
}

.sharebuttons ul li a {
    text-decoration: none;
}

.sharebuttons ul li svg {
    width: $icons-size;
    height: $icons-size;
    padding: $icons-padding;
    margin: $icons-margin;
}

.sharebuttons .linkedin svg {
    fill: $icons-color;
}

.sharebuttons .github svg {
    fill: $icons-color;
}

.sharebuttons .stackoverflow svg {
    fill: $icons-color;
}

.sharebuttons .medium svg {
    fill: $icons-color;
}

.sharebuttons .twitter svg {
    fill: $icons-color;
}

.sharebuttons .email svg {
    fill: $icons-color;
}

/* Other  */

img.avatar {
    margin-top: 0.8em;
}

h1.title {
    color: $link-color;
    font-weight: 500;
    word-break: break-word;
    margin: 0;
    margin-top: 1em;
}

h3.description {
    font-weight: 300;
    word-break: break-word;
    margin: 0;
    margin-top: 4px;
}
