<!DOCTYPE html>
<html lang="en">
   <head>
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-127055187-1"></script>
      <script>
         window.dataLayer = window.dataLayer || [];
         function gtag(){dataLayer.push(arguments);}
         gtag('js', new Date());
         
         gtag('config', 'UA-127055187-1');
      </script>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="shortcut icon" type="image/png" href="{{ site.baseurl }}/images/favicon.png">
      <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
      <link href="https://fonts.googleapis.com/css?family=Merriweather:400,400i" rel="stylesheet">
      <title>{{ site.title }}</title>
   </head>
   <body>
      <main>
         {{ content }}
      </main>
      <footer>
         <br/>
         <hr />
         <br/>

         <center>
            <h3>I am also on 👉</h3>
         </center>

         <div class="sharebuttons">
            <ul>
               <li class="linkedin">
                  <a href="https://www.linkedin.com/in/andrefrsousa/">
                  {% include social/linkedin.svg %}
                  </a>
               </li>
               <li class="gitlab">
                  <a href="https://github.com/andrefrsousa">
                  {% include social/github.svg %}
                  </a>
               </li>
               <li class="stackoverflow">
                  <a href="https://stackoverflow.com/users/1574250/andré-sousa">
                  {% include social/stackoverflow.svg %}
                  </a>
               </li>
               <li class="medium">
                  <a href="https://medium.com/@andrefrsousa">
                  {% include social/medium.svg %}
                  </a>
               </li>
            </ul>
         </div>

         <br/>

         <center>
            <h5>© 2018 André Sousa • v1.0</h5>
         </center>

      </footer>
   </body>
</html>